{% extends 'layouts/main.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

{% for block in page.body %}
{% include_block block %}
  {% endfor %}

  <main class="layout-layout--2">
      <div class="container">

    <!-- navigation -->
    {% include 'blocks/navbar.html' %}

    <!-- navigation -->

    <!-- home -->
    <section id="home">
      <h2>The Future is Here</h2>
      <p>
        The questions of today will not be answered by speeches and resolutions, but with iron and blood.
        Don't tell us what you can do. Do it.
      </p>
      <div class="btn">
        <a class="blue" href="contact.html">Get a Quote</a>
        <a class="yellow" href="course.html">Visit Services</a>
      </div>
    </section>
    <!-- home -->

    <!-- features -->
    {% include 'blocks/feature_block.html' %}

    <!-- features -->

    <!-- courses -->
    {% include 'blocks/course_block.html' %}

    <!-- courses -->

    <!-- registration -->
    {% include 'blocks/register_block.html' %}

    <!-- registration -->

    <!-- profiles -->
    {% include 'blocks/profile_block.html' %}

    <!-- profiles -->
    <!-- trusted by -->

    <!-- trusted by -->
    {% include 'blocks/trust_block.html' %}

    <!-- footer -->
          {% endblock content %}
          </div>
</main>