 <section id="features">
      <h1>Awesome Features</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="fea-base">
        <div class="fea-box">
          <i class="fas fa-graduation-cap"></i>
          <h3>Scholarship fascility</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="fea-box">
          <i class="fas fa-globe"></i>
          <h3>Online courses</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="fea-box">
          <i class="fas fa-award"></i>
          <h3>Global Certification</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </section>