<section id="experts">
      <h1>Community Experts</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
      <div class="expert-box">
        <div class="profile">
          <img src="./images/pro1.webp" alt="" />
          <h6>Ema Irnik</h6>
          <p>Python & Algorithm Expert</p>
          <div class="pro-links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
        <div class="profile">
          <img src="./images/pro4.webp" alt="" />
          <h6>Cherlet Doe</h6>
          <p>Javascript Expert</p>
          <div class="pro-links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
        <div class="profile">
          <img src="./images/pro2.webp" alt="" />
          <h6>John Smith</h6>
          <p>Data Scientist</p>
          <div class="pro-links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
        <div class="profile">
          <img src="./images/pro3.webp" alt="" />
          <h6>Steven Shaw</h6>
          <p>SEO & Digital Marketing</p>
          <div class="pro-links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
      </div>
    </section>