{% extends 'layouts/main.html' %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block content %}
    <!-- navigation -->

    <!-- single post -->
    <section id="blog-container">
      <div class="blogs blogpost">
        <div class="post">
   <figure>
    {% image page.image original class="w-full" %}
   </figure>
          <h3>{{ page.title }}</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non fugiat
            ducimus, accusantium laborum nisi odit doloremque harum delectus
            aperiam nemo. Labore, fugiat. A, ex exercitationem ipsum provident
            perspiciatis similique facere.
            <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur facere incidunt vitae eum ut dolor amet harum fugiat
            laudantium beatae eligendi consequatur voluptatum in iste ducimus
            velit vel nobis, voluptatibus, obcaecati laborum dicta, veritatis
            placeat accusantium tempora? Saepe fugiat nulla id, soluta
            consequatur maxime. Laboriosam qui quod ipsum omnis tempora!
            <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            incidunt recusandae expedita itaque corrupti nam error, fuga maxime,
            totam dolores doloribus perspiciatis officia quisquam distinctio
            ratione repellat obcaecati. Exercitationem hic distinctio amet
            voluptate? Sed, laboriosam. At repudiandae aliquid ipsam architecto
            facere quia! Sequi reprehenderit porro tempora, maiores deserunt
            veritatis voluptates non, cupiditate minima dolores et consequatur
            dolorem suscipit dignissimos. Nemo impedit ipsa aliquid eligendi ut
            ratione non sunt repudiandae consectetur.
            <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            sed, non ut illum itaque consequuntur sint quibusdam dolorem vitae
            reprehenderit voluptates error porro labore, eaque beatae excepturi
            rerum asperiores minus quae! Voluptas, sapiente exercitationem.
            Sequi, nobis quis recusandae obcaecati eos quidem nemo dolore sit,
            ab temporibus illum qui harum? Cum consequatur temporibus, beatae
            vitae quos quae ex impedit aliquam? Quo, accusantium officia! At,
            delectus! Corrupti voluptates dicta perspiciatis ipsa quibusdam.
          </p>
          <a href="#">Read Next ?</a>
        </div>
      </div>
    </section>
    <!-- single post -->
{% endblock content %}

