{% extends "layouts/main.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}


<section id="about-home">
  <h2>Blog</h2>
</section>

<section id="blog-container">
  <div class="blogs">
    {% for post in blogpages %}
      <div class="post">
        {% if post.header_image %}
          {% image post.header_image fill-400x250 as img %}
          <img src="{{ img.url }}" alt="{{ post.title }}">
        {% endif %}

        <h3>{{ post.title }}</h3>
        <p>{{ post.intro }}</p>
        <a href="{{ post.url }}">Read more</a>
      </div>
    {% empty %}
      <p>No blog posts found.</p>
    {% endfor %}
  </div>

  <div class="category">
    <h2>Categories</h2>
    <hr />
    {% for category in categories %}
      <a href="?category={{ category.slug }}">{{ category.name }}</a>
      <hr />
    {% endfor %}
  </div>
</section>

{% endblock content %}
